%li{ id: "work-#{work.id}" }
  %span.work_name= "#{work_counter + 1}. #{work.name}"
  %span.work_des= "#{work.description}" 
  = link_to "check out", checkout_work_path(work), method: :post, class: 'btn btn-mini btn-info', remote: true if work.state == "uncheck"
  = link_to 'review', review_work_path(work), method: :post, class: 'btn btn-mini btn-info', remote: true if work.state == "started"
  = link_to 'finish', finish_work_path(work), method: :post, class: 'btn btn-mini btn-info', remote: true if work.state == "review"
