%tr.work{ id: "work-#{work.id}" }
  %td.work_name
    %span.fixed= work.name
  %td.work_des
    %span.fixed= work.description
    %td.action
      = link_to work, method: :delete, remote: true do
        %i.icon-remove
      %span
        -case work.state
        -when "uncheck"
          = link_to "check out", checkout_work_path(work), method: :post, class: 'btn btn-mini btn-info', remote: true 
        -when "started"
          = link_to 'review', review_work_path(work), method: :post, class: 'btn btn-mini btn-info', remote: true
        -when "review"
          = link_to 'finish', finish_work_path(work), method: :post, class: 'btn btn-mini btn-info', remote: true


