.sprint
  %section
    %h3 工作
    %ol
      - sprint.uncheck_works.each do |work|
        %li= work.name
  %section
    %h3 Check out
    %ol
      - sprint.checked_out_works.each do |work|
        %li= work.name
  %section
    %h3 Review
    %ol
      - sprint.review_works.each do |work|
        %li= work.name
  %section
    %h3 Complete
    %ol
      - sprint.complete_works do |work|
        %li= work.name
  .new-work
    %h4 new work
    = form_for(:work, url: sprint_works_path(sprint), html: { method: :post }) do |f|
      = f.label :name, '名称'
      = f.text_field :name

      = f.label :description, '描述'
      = f.text_area :description, rows: 2

      = f.submit '添加', class: 'btn btn-small'
