- provide :title, '新建项目'

.row-fluid
  .span9.box
    %fieldset
      %legend 新建项目
      = form_for @project, html: { class: 'form-horizontal' } do |f|
        = render 'shared/error_messages', object: f.object
        .control-group
          = f.label :name, '项目名称', class: 'control-label'
          .controls
            = f.text_field :name, class: 'span8'
        .control-group
          = f.label :description, '项目描述', class: 'control-label'
          .controls
            = f.text_area :description, rows: 6, class: 'span8'
        .form-actions
          = f.submit '提交', class: 'btn btn-primary'


