- provide :title, @project.name

.row-fluid
  .span9.box-gray
    .page-header
      %h1= @project.name
    - if @project.current_sprint
      .current-sprint{ id: "sprint-#{@project.current_sprint.id}" }
        %h2 当前Sprint
        = render @project.current_sprint
    .create-sprint
      = link_to "new sprint", new_project_sprint_path(@project), class: 'btn btn-primary'
  .span3.box.sidebar
    %h1 历史
    %p
      %ul
        - @project.sprints.recent.each do |sprint|
          %li= link_to sprint.name
      .span10
        .pull-right
          = link_to '更多...', project_sprints_path(@project)



